<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
      <header>
        <% include ../partials/header %>
         </header>
    <div class="alprstream">
         <p> alpr </p>
    <ul id="events"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const $events = document.getElementById('events');

        const newItem = (content) => {
          const item = document.createElement('li');
          item.innerText = content;
          return item;
        };

        const socket = io();

	socket.on('plate', (counter, plate) => {
            $events.appendChild(newItem(`${plate}`));
	});

    </script>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
