<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
          </header>
            <h1> OPen Alprd Web </h1>
            <footer>
         <% include ../partials/footer %>
            </footer>
  </body>
</html>
