<!DOCTYPE html>
<!-- views/partials/header.ejs -->
  <div class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <div class="navbar-header">
           <a href="/">Uplaods/Downloads</a>
           <span uk-icon="icon: link"></span> 
           <a href="/admin" target="_blank" >Admin</a>
           <span uk-icon="icon: link"></span> 
           <a href="/alpr" target="_blank" >Alprdb</a>
           <span uk-icon="icon: link"></span> 
           <a href="/dbadmin" target="_blank" >Alprdb2</a>
           <span uk-icon="icon: link"></span> 
           <a href="/video" target="_blank" >Video</a>
           <span uk-icon="icon: link"></span> 
           <a href="/dbadmin/plates" target="_blank">API2</a>
           <span uk-icon="icon: link"></span> 
           <a href="http://localhost:8081" target="_blank">DBAdmin</a>
         </div>
      </div>
