<!DOCTYPE html>
<!-- views/partials/header.ejs -->
  <div class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <div class="navbar-header">
           <a href="/">Uplaods/Downloads</a>
           <span uk-icon="icon: link"></span> 
           <span uk-icon="icon: link"></span> 
           <a href="/admin">Admin</a>
           <span uk-icon="icon: link"></span> 
           <span uk-icon="icon: link"></span> 
           <a href="http://127.0.0.1:8081/db/docker-node-mongo/alprs">DbAdmin</a>
           <span uk-icon="icon: link"></span> 
           <span uk-icon="icon: link"></span> 
           <a href="/video">Video</a>
           <span uk-icon="icon: link"></span> 
           <span uk-icon="icon: link"></span> 
           <a href="/alpr/plates">Data/api</a>
           <span uk-icon="icon: link"></span> 
           <span uk-icon="icon: link"></span> 
         </div>
      </div>
