<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>ALPRD API</p>


    <div class="alprstream">
    <ul id="events"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const $events = document.getElementById('events');

        const newItem = (content) => {
          const item = document.createElement('li');
          item.innerText = content;
          return item;
        };

        const socket = io();

	socket.on('plate', (counter, plate) => {
            $events.appendChild(newItem(`${plate}`));
	});

    </script>




    </script>
  </body>
</html>
