<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
    <% include ../partials/header %>
</header>
<div class="uk-container uk-container-large">
                <div class="uk-container">
                    <div class="uk-margin">
                        <div class="uk-flex uk-flex-center" uk-grid>
                            <% commands.forEach(function(command, index) { %>
    <button class="uk-button uk-button-default" onclick="sendCommandAndPopulateResultZone('<%= command.nickname %>')">
                             <span uk-icon="icon: chevron-right"></span><%= command.label %>
                             </button>
                             <% }); %>
			    </div>
			</div>
                    </div>
		</div>
        
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
