<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
      <header>
        <% include ../partials/header %>
         </header>
    <div class="alpr">
         <p>Open alpr </p>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
