<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
        <h3>Alpr </h3>
    <video width="320" height="240" controls>
      <source src="uploads/alprVideo-.mp4" type="video/mp4">
    </video>

</div>
  <div class="mdl-cell mdl-cell--4-col">
        <h3>From Mongodb</h3>
        <ul id="alprs"></ul>
</div>
  <div class="mdl-cell mdl-cell--4-col">
        <h3>  OpenALPR  stream  </h3>

</div>
</div>

<script type="text/javascript" src="js/ajax.js"></script>
<footer>
    <% include ../partials/footer %>
</footer>
</body></html>

