<!DOCTYPE html>
<!-- views/partials/header.ejs -->
  <div class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <div class="navbar-header">
           <span uk-icon="icon: link"></span> 
           <a href="/video">Video</a>
           <span uk-icon="icon: link"></span> 
           <a href="/alpr/plates">Data</a>
           <span uk-icon="icon: link"></span> 
           <a href="/alpr">Admin</a>
         </div>
      </div>
