<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
          </header>
            <h1> OPen Alprd Stream </h1>
             <ul>
                 <% data.categories.forEach(function(item){ %>
                  <li><%= item.categoryName  %></li>  
                <%  }); %>
             </ul>
            <footer>
         <% include ../partials/footer %>
            </footer>
  </body>
</html>
